<!DOCTYPE html>
<html>
  <head>
    <%= render "application/head" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="echodek-app">
    <%= render "application/header" %>
    <%= render "application/contents" %>
    <%= render "application/footer" %>
  </body>
</html>
